# Binary Classification Twitter Sentiment Analysis in Python

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import sklearn
import plotly

### Read in the training dataset as a Pandas DataFrame

In [13]:
df_train = pd.read_csv("data/train_dataset_20k.csv")
df_train.head()

,Sentiment,id,Date,Query,User,Tweet
0,4,2014351367,Wed Jun 03 01:14:33 PDT 2009,NO_QUERY,cathyleehart,@just_tam21 hahah its kind of the same as adel...
1,4,1984531826,Sun May 31 15:17:28 PDT 2009,NO_QUERY,carlawaslike,@Austinjamest sweeeet can't wait to go there w...
2,4,2185079853,Mon Jun 15 16:51:18 PDT 2009,NO_QUERY,Rommellll,You said you changed how wrong i proved you n...
3,4,1998128979,Mon Jun 01 18:02:23 PDT 2009,NO_QUERY,pauljopling,I can't wait for New Moon after seeing the tra...
4,4,2182994010,Mon Jun 15 13:54:26 PDT 2009,NO_QUERY,thisgoodlife,@nicolassa new drum carder? SWEET!

### By default, sentiments are labeled as "4" for positive and "0" for negative. For legibility purposes, I'm adjusting the training dataset by replacing the 4's with 1's, and also by getting rid of unnecessary columns.

In [15]:
df_train = df_train[["Sentiment", "id", "Tweet"]]
df_train.replace(4, 1, inplace=True)
df_train.head()

   Sentiment          id                                              Tweet
0          1  2014351367  @just_tam21 hahah its kind of the same as adel...
1          1  1984531826  @Austinjamest sweeeet can't wait to go there w...
2          1  2185079853  You said you changed how wrong i proved you  n...
3          1  1998128979  I can't wait for New Moon after seeing the tra...
4          1  2182994010                @nicolassa new drum carder? SWEET!

In [18]:
df_train.tail()

,Sentiment,id,Tweet
19995,0,2326042821,up too dmn early.
19996,0,1932403017,"Well, here i go again."
19997,0,2223712854,my internet is being sooo slow...
19998,0,1685271504,Tired. Need to learn script. Do this vid. And ...
19999,0,2226099360,its so ugly and gloomy outside. where did the ...